.container-fullwidth{
 width: 100%;
 height: auto;
 margin-right: 0px;


}

.btn-danger {
    color: #fff;
    background-color: #ee6e73;
    border:none;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}
button{
  margin: 5px;

}
button:hover{
  opacity: 0.6;
}
input:focus{
  outline: none;
  color: #ee6e73;
}
/*.row{
	padding-left: 0px;
	padding-right: 0px;
}*/
 .carousel-inner img {
    width: 100%;
    height: 100%;
   

  }
 .carousel-indicators li {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: black;
}
 .carousel-indicators .active{
 	background-color: white;
 }
.header{
 background:snow-white;
 height: 100px;
 width: 100%;
 padding: 30px;
}

.col-md-2{
	height: 180px;
	width: 180px;
	border-color: grey;
}

.background{
	
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80% 100%;
  height: 400px;
	}
.landscape{
	height: auto;
	width: 100%;
}
.form-group {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 25%;
    text-align: center;
}
.dropdown-toggle{
	width: 70%;
height: 40px;
border-radius: 7px;
  border: 1px solid #D3D3D3;
  padding-left:10px;
  margin: 5px;

}
h5,h6{
  font-style: Poppins;
  font-size: 14px;
}


a{

	padding: 2px;
	font-weight: bold;
	font-size: 14px;
}
#image{
	padding: 2px;
	height: 20px;
	width: 20px;
	margin: 2px;
}
.text-service{
	color:white;
}

.popular-img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
  background: white;
  padding: 10px;
  margin: 10px;
}
.col{
	  top: 15px;
    text-align: center;
    border-color: pink;
}
#testdiv{
	border-right: thin solid white;
  height: 100px;
}
h4{
  font-size:22px;
  font-style: Poppins;
}
.col-12{
	padding: 0px;

}

.col-md-12{
  padding-left: 0px;
  padding-right: 0px;
}
.working-img{
	height: 80px;
	width: 80px;
	border-radius: 100%;
  padding: 5px;
}


.col-sm-4{
	height: fit-content;
	width: 400px;
}

p{
	font-size: 14px;
	color:#555555 ;
	
  font-family: Poppins;

}
h2{
  font-size: 22px;
  font-style: Poppins;
  padding: 15px;
}

.img-men{
	height: 122px;
	width: 130px;
	border-radius: 100%;
  margin: 5px;
  padding: 2px;
}
/*.owl-carousel .owl-item img {
   display: none;
   width: 130px;
}*/
.checked{
	color:#ee6e73;
	
}

#text{
 font-style: Poppins;
 color: white;
 font-size: 14px;
  text-align: left;
  
}

.icon-margin{
	margin: 7px
 

}

i{
    color: white;
   
    text-align: center;
    
     height:30px;
  width: 30px;    
  border-radius: 50%;
}
i:hover{
  background-color:#ee6e73;
}




.carousel-wrap-1 {
    width: 900px;
    margin: auto;
    position: relative;
    }

.carousel-wrap-2 {
    width: 1000px;
    margin: auto;
    position: relative;
    padding:40px;
}

  .maid-image{
    border-radius: 50%;
    height: 100px;
    width: 100px;


  }
  .owl-carousel .item{
    border-radius: 50%;
    height: fit-content;
    width: 130px;
    text-align: center;
  }
.owl-carousel .owl-nav button.owl-prev{
  background-color: white;
  height: 40px;
  width: 40px;
  color: #ee6e73;
  font-size: xx-large;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  left: -73px;
    top: 25px;
}
.owl-carousel .owl-nav button.owl-next{
  background-color: white;
  height: 40px;
  width: 40px;
  font-size: xx-large;
  text-align: center;
  line-height: 40px;
    color:#ee6e73;
  border-radius: 50%;
  position: absolute;
  right: -35px;
   top: 25px;
   transition: translateY
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #ee6e73;
    color: #FFF;
    text-decoration: none;
  }

  .owl-theme .owl-nav [class*=owl-]:focus{
    outline:none;
  }
   
   .d-flex{
    width: 100%;
   }
  .footer-1{
    padding: 5px;
    text-align: left;
    font-style: Poppins;

  }
  .footer-2{
    padding-top: 2px;
    text-align:left;
    height: 30px;
    font-style: Poppins;
  }
  .col-1{
    padding: 20px;
  }

  .border-bottom{
    border-bottom: 2px solid white;
    width: 25px;
  }

  
  .owl-theme .owl-dots .owl-dot span {
    
    margin: -2px;
    background: #716767;
    color: #ee6e73;
    outline: none;
  }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ee6e73;
    outline: none;
}
.owl-theme .owl-dots .owl-dot:focus span{
  outline: none;
}

.copyright{
      padding-top: 10px;
    text-align: end;
    padding-right: 47px;
}