.container-fullwidth{
 width: 100%;
 height: auto;
 margin-right: 0px;


}
.row{
	padding-left: 100px;
	padding-right: 100px;
}
 .carousel-inner img {
    width: 100%;
    height: 100%;
   

  }
 .carousel-indicators li {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: black;
}
 .carousel-indicators .active{
 	background-color: white;
 }
.d-flex{
 background:snow-white;
 height: 100px;
 width: 100%;
 padding: 20px;
}

.logo{
	top: 100px;
	padding: 20px;
	margin: 10px;
}

.text-center{
	
		height: 100px;
	
}

.feature{
	height: 375px;
}

.feature-pic{
  height: 250px;
}
.col-md-2{
	height: 180px;
	width: 180px;
	border-color: grey;
}
/*.maid-image{
	border-radius: 100%;
	width: 100px;
	height: 100px;
}*/
.background{
	
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80% 100%;
  height: 400px;
	}
.landscape{
	height: auto;
	width: 100%;
}
.form-group {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}
.dropdown-toggle{
	width: 50%;
height: 35px;
border-radius: 7px;
  border: 1px solid #D3D3D3;
  padding-left:10px;

}

/*div{
	padding: 10px;
}*/
a{
	padding: 2px;
	font-weight: bold;
	font-size: 18px;
}
#image{
	padding: 2px;
	height: 20px;
	width: 20px;
	margin: 2px;
}
.text-service{
	color:white;
}
.popular-service{
	height: 350px;
	background: LightCoral;
}
.popular-img{
	height: 140px;
	width: 140px;
	border-radius: 100%;
}
.col-sm-3{
	height: 180px;
    width: 180px;
    border-color: pink;
}
#testdiv{
	border-right: 1px solid white;
}
.col-12{
	padding: 0px;

}
.working-img{
	height: 80px;
	width: 80px;
	border-radius: 100%;
}

.col-sm-4{
	height: 200px;
	width: 400px;
}
h3{
	padding:10px;
}
p{
	font-size: 20px;
	color: grey;
	font-weight: bold;
}

.img-men{
	height: 130px;
	width: 130px;
	border-radius: 100%;
}
.checked{
	color:LightCoral;
	
}

#text{
 font-weight: normal;
 color: white;
 font-size: 20px;
  text-align: left;
  
}
.icon{
	height: 50px;
	width: 50px;
	border-radius: 100%;

}
.icon-margin{
	margin: 10px;
}

.small-icon{
	height: 25px;
	width: 25px;
	border-radius: 100%;
}
/*.row{
	height: fir-content;
}*/
/*#owl-demo{
	width: 
}
#owl-demo .item{
  margin: 3px;
  height:fit-content;
  width: auto;
  text-align: center;
}

#owl-demo .item .maid-image{
     display: block; 
    width: 100px;
  height: 100px;
  border-radius: 50%;
}
*/
.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;

  }

  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: black;
  }


  .owl-carousel .item {
      text-align: center;
      height: fit-content;
      width: 150px;


  }
  .owl-carousel .item .maid-image{
     display: block;
     height: 150;
     width: 150;
  	border-radius: 50%;
  } 
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
      color: black;
  }

  /*.owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }*/

  .owl-carousel .prev-slide{
      background: url(nav-icon.png) no-repeat scroll 0 0;
      left: -33px;
  }
  .owl-carousel .next-slide{
      background: url(nav-icon.png) no-repeat scroll -24px 0px;
      right: -33px;
  }
  .owl-carousel .prev-slide:hover{
     background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }

  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }


